<!DOCTYPE html>
<html lang="en" class="loading">
  
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" href="https://avatars.githubusercontent.com/u/86209322?s=32" type="image/png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css0491.css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/css/toastr.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/css/app.css">
  </head>
  <body data-col="1-column" class=" 1-column  blank-page blank-page">
        <!-- BEGIN VENDOR JS-->
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/core/popper.min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/core/bootstrap.min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/prism.min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/screenfull.min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/pace/pace.min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/js/toastr.min.js"></script>
        <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/vendors/js/toastr.min.js"></script>
        <!-- BEGIN VENDOR JS-->
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper"><!--Registration Page Starts-->
        {% block content %}{% endblock %}
<!--Registration Page Ends-->
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/js/app-sidebar.js"></script>
    <script src="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/js/notification-sidebar.js"></script>
    <!-- END CONVEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
  </body>

</html>
